créditos:https://colab.research.google.com/drive/1FvBBw2JNXHy9WeJusI2PPr2PMnGVbbGM#scrollTo=GBotcBrgqR30 (lembrar de referenciar)

In [1]:
#%matplotlib inline
import pickle
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
import seaborn as sns

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
#carregando o dataset
data_set = '/content/drive/My Drive/WESAD/'
s2_path = data_set + 'S2.pkl'
#modificação necessária pois os dados estavam em py2 e o ambiente usa py3
with open(s2_path, 'rb') as file:
    s2_data = pickle.load(file, encoding='latin1')

In [4]:
#Separando dados de peito de dados de pulso (apenas dados de peito serão considerados conforme análise dos dados)
c_ax=s2_data['signal']['chest']['ACC'][0:,0]
c_ay=s2_data['signal']['chest']['ACC'][0:,1]
c_az=s2_data['signal']['chest']['ACC'][0:,2]
c_ecg=s2_data['signal']['chest']['ECG'][:,0]
c_emg=s2_data['signal']['chest']['EMG'][:,0]
c_eda=s2_data['signal']['chest']['EDA'][:,0]
c_temp=s2_data['signal']['chest']['Temp'][:,0]
c_resp=s2_data['signal']['chest']['Resp'][:,0]
label=s2_data['label']

# Alterar o objeto de dicionário para um array numpy e o array para um dataframe

*(referenciar)*
**Python | Numpy ndarray.T**
https://www.geeksforgeeks.org/python-numpy-ndarray-t/

**Gerando e Manipulando Arrays em Python**
https://towardsdatascience.com/numpy-array-cookbook-generating-and-manipulating-arrays-in-python-2195c3988b09

In [5]:
peito = [c_ax, c_ay, c_az, c_ecg, c_eda, c_emg, c_resp, c_temp, label]
p_array = np.array(peito)
p_array = p_array.T #(transposição matriz)
Colunas = ['c_ax', 'c_ay', 'c_az', 'c_ecg', 'c_eda', 'c_emg', 'c_resp', 'c_temp', 'label']

p_df = pd.DataFrame(p_array, columns = Colunas)
p_df

           c_ax    c_ay    c_az     c_ecg  ...     c_emg    c_resp     c_temp  label
0        0.9554 -0.2220 -0.5580  0.021423  ... -0.004440 -1.148987  30.120758    0.0
1        0.9258 -0.2216 -0.5538  0.020325  ...  0.004349 -1.124573  30.129517    0.0
2        0.9082 -0.2196 -0.5392  0.016525  ...  0.005173 -1.152039  30.138214    0.0
3        0.8974 -0.2102 -0.5122  0.016708  ...  0.007187 -1.158142  30.129517    0.0
4        0.8882 -0.2036 -0.4824  0.011673  ... -0.015152 -1.161194  30.130951    0.0
...         ...     ...     ...       ...  ...       ...       ...        ...    ...
4255295  0.8750 -0.1234 -0.2974 -0.013138  ...  0.020370 -1.063538  31.457733    0.0
4255296  0.8750 -0.1262 -0.2988 -0.010345  ...  0.019592 -1.106262  31.476898    0.0
4255297  0.8718 -0.1238 -0.3042 -0.005447  ... -0.017166 -1.103210  31.459229    0.0
4255298  0.8730 -0.1234 -0.3026  0.000137  ... -0.028976 -1.086426  31.484283    0.0
4255299  0.8702 -0.1220 -0.3022  0.004074  ... -0.023575 -1.097107  31.456268    0.0

[4255300 rows x 9 columns]

In [6]:
p_df.describe().T

            count       mean       std  ...        50%        75%        max
c_ax    4255300.0   0.753866  0.175116  ...   0.856800   0.892200   2.029800
c_ay    4255300.0  -0.133188  0.064173  ...  -0.125600  -0.095800   0.539000
c_az    4255300.0  -0.422681  0.300236  ...  -0.322200  -0.209800   1.246800
c_ecg   4255300.0   0.001212  0.154077  ...   0.008240   0.044357   1.499313
c_eda   4255300.0   1.528387  1.238425  ...   1.163101   1.546478   7.576752
c_emg   4255300.0  -0.002413  0.011652  ...  -0.001602   0.003983   0.300980
c_resp  4255300.0   0.054906  2.917749  ...  -0.157166   1.618958  27.378845
c_temp  4255300.0  30.876676  1.281106  ...  31.289917  31.815125  34.370392
label   4255300.0   1.212370  1.606596  ...   0.000000   2.000000   7.000000

[9 rows x 8 columns]

Identificando os rótulos, usando apenas:
neutro: 0
stress: 1
diversão: 2

Os demais serão desconsiderados nesse estudo

In [7]:
neutro = p_df.loc[p_df['label'] == 1]
stress = p_df.loc[p_df['label'] == 2]


p_loc = pd.concat([neutro, stress])
p_loc

           c_ax    c_ay    c_az     c_ecg  ...     c_emg    c_resp     c_temp  label
214583   0.8914 -0.1102 -0.2576  0.030945  ... -0.003708  1.191711  29.083618    1.0
214584   0.8926 -0.1086 -0.2544  0.033646  ... -0.014145  1.139832  29.122437    1.0
214585   0.8930 -0.1094 -0.2580  0.033005  ...  0.010208  1.141357  29.115234    1.0
214586   0.8934 -0.1082 -0.2538  0.031815  ...  0.012634  1.155090  29.126709    1.0
214587   0.8930 -0.1096 -0.2570  0.030350  ...  0.002060  1.133728  29.100861    1.0
...         ...     ...     ...       ...  ...       ...       ...        ...    ...
2021977  0.8760 -0.1346 -0.3020  0.001328  ... -0.004715 -1.161194  31.163483    2.0
2021978  0.8770 -0.1352 -0.2998  0.003433  ... -0.003937 -1.124573  31.090057    2.0
2021979  0.8806 -0.1334 -0.2978  0.003616  ... -0.009018 -1.097107  31.098877    2.0
2021980  0.8778 -0.1314 -0.2964  0.003525  ...  0.004944 -1.103210  31.101807    2.0
2021981  0.8766 -0.1310 -0.2962  0.000320  ...  0.003891 -1.087952  31.098877    2.0

[1231300 rows x 9 columns]

In [ ]:
for col in p_df.columns:
  print(f" col {col} , Qtd de valores únicos: {len(p_loc[col].unique())} , {list(p_loc[col].unique())} \n ")

# Normalizando dados: train test

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.set_axis.html (referenciar)

In [9]:
import sklearn
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

import tensorflow as tf

import keras
from keras.utils import to_categorical

In [10]:
print(tf.__version__)

2.3.0

In [11]:
print(keras.__version__)

2.4.3

In [12]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.model_selection import StratifiedKFold
 
# separar as variáveis independentes da variável alvo
x = p_loc.drop(['label'], axis=1)
y = p_loc['label']
 
# padronizar as colunas numéricas
X = StandardScaler().fit_transform(x)
 
# label encoder na variável alvo
Y = LabelEncoder().fit_transform(y)
 
# dividir o dataset entre treino e teste
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2)

In [13]:
import tensorflow as tf

from tensorflow import keras
from tensorflow.keras import layers
from keras.models import Sequential
from keras. layers import Activation
from keras.layers.core import Dense
from keras.layers import Dropout
from keras.wrappers.scikit_learn import KerasClassifier
from keras.optimizers import Adam

In [14]:
from keras.optimizers import SGD
def create_model():
  model = Sequential()
  model.add(Dense(8, input_shape=(8,), activation='softmax'))
  model.add(Dense(16,activation='softmax'))
  model.add(Dense(1, activation='relu'))
  sgd = SGD(lr=0.1, momentum=0.9)
  model.compile(Adam(lr=.0001), loss='mse',  metrics=['mae', 'mse', 'accuracy'])
  return model

In [18]:
from sklearn.model_selection import KFold

n_split=3

for train_index,test_index in KFold(n_split).split(X):
  x_train,x_test=X[train_index],X[test_index]
  y_train,y_test=Y[train_index],Y[test_index]
  
  model=create_model()
  model.fit(x_train, y_train,epochs=5)
  
  print('\n\n\n\nModel evaluation ',model.evaluate(x_test,y_test))

25653/25653 [==============================] - 26s 1ms/step - loss: 0.5000 - mae: 0.5000 - mse: 0.5000 - accuracy: 0.5000
Epoch 4/5
25653/25653 [==============================] - 26s 1ms/step - loss: 0.5000 - mae: 0.5000 - mse: 0.5000 - accuracy: 0.5000
Epoch 5/5
25653/25653 [==============================] - 26s 1ms/step - loss: 0.5000 - mae: 0.5000 - mse: 0.5000 - accuracy: 0.5000
12827/12827 [==============================] - 12s 931us/step - loss: 0.0489 - mae: 0.0489 - mse: 0.0489 - accuracy: 0.9511




Model evaluation  [0.04889226704835892, 0.04889226704835892, 0.04889226704835892, 0.9511077404022217]
Epoch 1/5
25653/25653 [==============================] - 28s 1ms/step - loss: 0.0244 - mae: 0.0244 - mse: 0.0244 - accuracy: 0.9756
Epoch 2/5
25653/25653 [==============================] - 27s 1ms/step - loss: 0.0244 - mae: 0.0244 - mse: 0.0244 - accuracy: 0.9756
Epoch 3/5
25653/25653 [==============================] - 27s 1ms/step - loss: 0.0244 - mae: 0.0244 - mse: 0.0244 - accuracy: 0.9756
Epoch 4/5
25653/25653 [==============================] - 28s 1ms/step - loss: 0.0244 - mae: 0.0244 - mse: 0.0244 - accuracy: 0.9756
Epoch 5/5
25653/25653 [==============================] - 30s 1ms/step - loss: 0.0244 - mae: 0.0244 - mse: 0.0244 - accuracy: 0.9756
12827/12827 [==============================] - 15s 1ms/step - loss: 1.0000 - mae: 1.0000 - mse: 1.0000 - accuracy: 0.0000e+00




Model evaluation  [1.0, 1.0, 1.0, 0.0]
Epoch 1/5
25653/25653 [==============================] - 27s 1ms/step - loss: 0.5244 - mae: 0.5244 - mse: 0.5244 - accuracy: 0.4756
Epoch 2/5
25653/25653 [==============================] - 29s 1ms/step - loss: 0.5244 - mae: 0.5244 - mse: 0.5244 - accuracy: 0.4756
Epoch 3/5
25653/25653 [==============================] - 27s 1ms/step - loss: 0.5244 - mae: 0.5244 - mse: 0.5244 - accuracy: 0.4756
Epoch 4/5
25653/25653 [==============================] - 26s 1ms/step - loss: 0.5244 - mae: 0.5244 - mse: 0.5244 - accuracy: 0.4756
Epoch 5/5
25653/25653 [==============================] - 26s 1ms/step - loss: 0.5244 - mae: 0.5244 - mse: 0.5244 - accuracy: 0.4756
12827/12827 [==============================] - 11s 884us/step - loss: 0.0000e+00 - mae: 0.0000e+00 - mse: 0.0000e+00 - accuracy: 1.0000




Model evaluation  [0.0, 0.0, 0.0, 1.0]
Epoch 1/5
25653/25653 [==============================] - 27s 1ms/step - loss: 0.5000 - mae: 0.5000 - mse: 0.5000 - accuracy: 0.5000
Epoch 2/5
25653/25653 [==============================] - 25s 991us/step - loss: 0.5000 - mae: 0.5000 - mse: 0.5000 - accuracy: 0.5000
Epoch 3/5
25653/25653 [==============================] - 26s 1ms/step - loss: 0.5000 - mae: 0.5000 - mse: 0.5000 - accuracy: 0.5000
Epoch 4/5
25653/25653 [==============================] - 29s 1ms/step - loss: 0.5000 - mae: 0.5000 - mse: 0.5000 - accuracy: 0.5000
Epoch 5/5
25653/25653 [==============================] - 26s 1ms/step - loss: 0.5000 - mae: 0.5000 - mse: 0.5000 - accuracy: 0.5000
12827/12827 [==============================] - 11s 896us/step - loss: 0.0489 - mae: 0.0489 - mse: 0.0489 - accuracy: 0.9511




Model evaluation  [0.04889226704835892, 0.04889226704835892, 0.04889226704835892, 0.9511077404022217]
Epoch 1/5
25653/25653 [==============================] - 26s 1ms/step - loss: 0.0085 - mae: 0.0185 - mse: 0.0085 - accuracy: 0.9886
Epoch 2/5
25653/25653 [==============================] - 26s 1ms/step - loss: 0.0030 - mae: 0.0065 - mse: 0.0030 - accuracy: 0.9968
Epoch 3/5
25653/25653 [==============================] - 27s 1ms/step - loss: 0.0022 - mae: 0.0048 - mse: 0.0022 - accuracy: 0.9976
Epoch 4/5
25653/25653 [==============================] - 26s 1ms/step - loss: 0.0018 - mae: 0.0040 - mse: 0.0018 - accuracy: 0.9980
Epoch 5/5
25653/25653 [==============================] - 26s 1ms/step - loss: 0.0016 - mae: 0.0035 - mse: 0.0016 - accuracy: 0.9983
12827/12827 [==============================] - 11s 894us/step - loss: 0.6176 - mae: 0.7199 - mse: 0.6176 - accuracy: 0.2583




Model evaluation  [0.6176488399505615, 0.7199130058288574, 0.6176488399505615, 0.25831499695777893]

In [19]:
previsoes = model.predict(x_test)
previsoes = (previsoes >0.5)
from sklearn.metrics import confusion_matrix, accuracy_score
precisao = accuracy_score(y_test, previsoes)
matriz = confusion_matrix(y_test, previsoes)
resultado = model.evaluate(x_test, y_test)

12827/12827 [==============================] - 12s 914us/step - loss: 0.6176 - mae: 0.7199 - mse: 0.6176 - accuracy: 0.2583

In [20]:
matriz

array([[     0,      0],
       [304412, 106021]])