créditos:https://colab.research.google.com/drive/1FvBBw2JNXHy9WeJusI2PPr2PMnGVbbGM#scrollTo=GBotcBrgqR30 (lembrar de referenciar)

In [17]:
#%matplotlib inline
import pickle
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
import seaborn as sns

In [18]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [19]:
#carregando o dataset
data_set = '/content/drive/My Drive/WESAD/'
s2_path = data_set + 'S2.pkl'
#modificação necessária pois os dados estavam em py2 e o ambiente usa py3
with open(s2_path, 'rb') as file:
    s2_data = pickle.load(file, encoding='latin1')

In [20]:
#Separando dados de peito de dados de pulso (apenas dados de peito serão considerados conforme análise dos dados)
c_ax=s2_data['signal']['chest']['ACC'][0:,0]
c_ay=s2_data['signal']['chest']['ACC'][0:,1]
c_az=s2_data['signal']['chest']['ACC'][0:,2]
c_ecg=s2_data['signal']['chest']['ECG'][:,0]
c_emg=s2_data['signal']['chest']['EMG'][:,0]
c_eda=s2_data['signal']['chest']['EDA'][:,0]
c_temp=s2_data['signal']['chest']['Temp'][:,0]
c_resp=s2_data['signal']['chest']['Resp'][:,0]
label=s2_data['label']

# Alterar o objeto de dicionário para um array numpy e o array para um dataframe

*(referenciar)*
**Python | Numpy ndarray.T**
https://www.geeksforgeeks.org/python-numpy-ndarray-t/

**Gerando e Manipulando Arrays em Python**
https://towardsdatascience.com/numpy-array-cookbook-generating-and-manipulating-arrays-in-python-2195c3988b09

In [21]:
peito = [c_ax, c_ay, c_az, c_ecg, c_eda, c_emg, c_resp, c_temp, label]
p_array = np.array(peito)
p_array = p_array.T #(transposição matriz)
Colunas = ['c_ax', 'c_ay', 'c_az', 'c_ecg', 'c_eda', 'c_emg', 'c_resp', 'c_temp', 'label']

p_df = pd.DataFrame(p_array, columns = Colunas)
p_df

           c_ax    c_ay    c_az     c_ecg  ...     c_emg    c_resp     c_temp  label
0        0.9554 -0.2220 -0.5580  0.021423  ... -0.004440 -1.148987  30.120758    0.0
1        0.9258 -0.2216 -0.5538  0.020325  ...  0.004349 -1.124573  30.129517    0.0
2        0.9082 -0.2196 -0.5392  0.016525  ...  0.005173 -1.152039  30.138214    0.0
3        0.8974 -0.2102 -0.5122  0.016708  ...  0.007187 -1.158142  30.129517    0.0
4        0.8882 -0.2036 -0.4824  0.011673  ... -0.015152 -1.161194  30.130951    0.0
...         ...     ...     ...       ...  ...       ...       ...        ...    ...
4255295  0.8750 -0.1234 -0.2974 -0.013138  ...  0.020370 -1.063538  31.457733    0.0
4255296  0.8750 -0.1262 -0.2988 -0.010345  ...  0.019592 -1.106262  31.476898    0.0
4255297  0.8718 -0.1238 -0.3042 -0.005447  ... -0.017166 -1.103210  31.459229    0.0
4255298  0.8730 -0.1234 -0.3026  0.000137  ... -0.028976 -1.086426  31.484283    0.0
4255299  0.8702 -0.1220 -0.3022  0.004074  ... -0.023575 -1.097107  31.456268    0.0

[4255300 rows x 9 columns]

In [22]:
p_df.describe().T

            count       mean       std  ...        50%        75%        max
c_ax    4255300.0   0.753866  0.175116  ...   0.856800   0.892200   2.029800
c_ay    4255300.0  -0.133188  0.064173  ...  -0.125600  -0.095800   0.539000
c_az    4255300.0  -0.422681  0.300236  ...  -0.322200  -0.209800   1.246800
c_ecg   4255300.0   0.001212  0.154077  ...   0.008240   0.044357   1.499313
c_eda   4255300.0   1.528387  1.238425  ...   1.163101   1.546478   7.576752
c_emg   4255300.0  -0.002413  0.011652  ...  -0.001602   0.003983   0.300980
c_resp  4255300.0   0.054906  2.917749  ...  -0.157166   1.618958  27.378845
c_temp  4255300.0  30.876676  1.281106  ...  31.289917  31.815125  34.370392
label   4255300.0   1.212370  1.606596  ...   0.000000   2.000000   7.000000

[9 rows x 8 columns]

Identificando os rótulos, usando apenas:
neutro: 0
stress: 1
diversão: 2

Os demais serão desconsiderados nesse estudo

In [23]:
neutro = p_df.loc[p_df['label'] == 1]
stress = p_df.loc[p_df['label'] == 2]


p_loc = pd.concat([neutro, stress])
p_loc

           c_ax    c_ay    c_az     c_ecg  ...     c_emg    c_resp     c_temp  label
214583   0.8914 -0.1102 -0.2576  0.030945  ... -0.003708  1.191711  29.083618    1.0
214584   0.8926 -0.1086 -0.2544  0.033646  ... -0.014145  1.139832  29.122437    1.0
214585   0.8930 -0.1094 -0.2580  0.033005  ...  0.010208  1.141357  29.115234    1.0
214586   0.8934 -0.1082 -0.2538  0.031815  ...  0.012634  1.155090  29.126709    1.0
214587   0.8930 -0.1096 -0.2570  0.030350  ...  0.002060  1.133728  29.100861    1.0
...         ...     ...     ...       ...  ...       ...       ...        ...    ...
2021977  0.8760 -0.1346 -0.3020  0.001328  ... -0.004715 -1.161194  31.163483    2.0
2021978  0.8770 -0.1352 -0.2998  0.003433  ... -0.003937 -1.124573  31.090057    2.0
2021979  0.8806 -0.1334 -0.2978  0.003616  ... -0.009018 -1.097107  31.098877    2.0
2021980  0.8778 -0.1314 -0.2964  0.003525  ...  0.004944 -1.103210  31.101807    2.0
2021981  0.8766 -0.1310 -0.2962  0.000320  ...  0.003891 -1.087952  31.098877    2.0

[1231300 rows x 9 columns]

In [ ]:
for col in p_df.columns:
  print(f" col {col} , Qtd de valores únicos: {len(p_loc[col].unique())} , {list(p_loc[col].unique())} \n ")

# Normalizando dados: train test

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.set_axis.html (referenciar)

In [25]:
import sklearn
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

import tensorflow as tf

import keras
from keras.utils import to_categorical

In [26]:
print(tf.__version__)

2.3.0

In [27]:
print(keras.__version__)

2.4.3

In [28]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.model_selection import StratifiedKFold
 
# separar as variáveis independentes da variável alvo
x = p_loc.drop(['label'], axis=1)
y = p_loc['label']
 
# padronizar as colunas numéricas
X = StandardScaler().fit_transform(x)
 
# label encoder na variável alvo
Y = LabelEncoder().fit_transform(y)
 
# dividir o dataset entre treino e teste
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2)

In [29]:
import tensorflow as tf

from tensorflow import keras
from tensorflow.keras import layers
from keras.models import Sequential
from keras. layers import Activation
from keras.layers.core import Dense
from keras.layers import Dropout
from keras.wrappers.scikit_learn import KerasClassifier
from keras.optimizers import Adam

In [30]:
from keras.optimizers import SGD
def create_model():
  model = Sequential()
  model.add(Dense(8, input_shape=(8,), activation='softmax'))
  model.add(Dense(16,activation='softmax'))
  model.add(Dense(1, activation='relu'))
  sgd = SGD(lr=0.1, momentum=0.9)
  model.compile(Adam(lr=.0001), loss='mse',  metrics=['mae', 'mse', 'accuracy'])
  return model

In [42]:
from sklearn.pipeline import Pipeline
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import cross_val_score
estimators = []
estimators.append(('standardize', StandardScaler()))
estimators.append(('model', KerasClassifier(build_fn=create_model, epochs=3, batch_size=16, verbose= 2)))
#print("prox")
pipeline = Pipeline(estimators)
kfold = StratifiedKFold(n_splits=5, shuffle=True)
results = cross_val_score(pipeline, x_train, y_train, cv=kfold)
print("Visible: %.2f%% (%.2f%%)" % (results.mean()*100, results.std()*100))

Epoch 1/3
49252/49252 - 40s - loss: 0.3498 - mae: 0.3498 - mse: 0.3498 - accuracy: 0.6502
Epoch 2/3
49252/49252 - 40s - loss: 0.3498 - mae: 0.3498 - mse: 0.3498 - accuracy: 0.6502
Epoch 3/3
49252/49252 - 40s - loss: 0.3498 - mae: 0.3498 - mse: 0.3498 - accuracy: 0.6502
12313/12313 - 9s - loss: 0.3498 - mae: 0.3498 - mse: 0.3498 - accuracy: 0.6502
Epoch 1/3
49252/49252 - 40s - loss: 0.3498 - mae: 0.3498 - mse: 0.3498 - accuracy: 0.6502
Epoch 2/3
49252/49252 - 45s - loss: 0.3498 - mae: 0.3498 - mse: 0.3498 - accuracy: 0.6502
Epoch 3/3
49252/49252 - 40s - loss: 0.3498 - mae: 0.3498 - mse: 0.3498 - accuracy: 0.6502
12313/12313 - 9s - loss: 0.3498 - mae: 0.3498 - mse: 0.3498 - accuracy: 0.6502
Epoch 1/3
49252/49252 - 40s - loss: 0.0257 - mae: 0.0578 - mse: 0.0257 - accuracy: 0.9673
Epoch 2/3
49252/49252 - 41s - loss: 0.0044 - mae: 0.0099 - mse: 0.0044 - accuracy: 0.9954
Epoch 3/3
49252/49252 - 40s - loss: 0.0038 - mae: 0.0110 - mse: 0.0038 - accuracy: 0.9959
12313/12313 - 9s - loss: 0.0036 - mae: 0.0113 - mse: 0.0036 - accuracy: 0.9960
Epoch 1/3
49252/49252 - 40s - loss: 0.3498 - mae: 0.3498 - mse: 0.3498 - accuracy: 0.6502
Epoch 2/3
49252/49252 - 40s - loss: 0.3498 - mae: 0.3498 - mse: 0.3498 - accuracy: 0.6502
Epoch 3/3
49252/49252 - 43s - loss: 0.3498 - mae: 0.3498 - mse: 0.3498 - accuracy: 0.6502
12313/12313 - 10s - loss: 0.3498 - mae: 0.3498 - mse: 0.3498 - accuracy: 0.6502
Epoch 1/3
49252/49252 - 40s - loss: 0.3498 - mae: 0.3498 - mse: 0.3498 - accuracy: 0.6502
Epoch 2/3
49252/49252 - 42s - loss: 0.3498 - mae: 0.3498 - mse: 0.3498 - accuracy: 0.6502
Epoch 3/3
49252/49252 - 40s - loss: 0.3498 - mae: 0.3498 - mse: 0.3498 - accuracy: 0.6502
12313/12313 - 9s - loss: 0.3498 - mae: 0.3498 - mse: 0.3498 - accuracy: 0.6502
Visible: 71.93% (13.84%)

In [44]:
results

array([0.65016139, 0.65016139, 0.99604076, 0.65016139, 0.65016139])

In [48]:
print("Visible: %.2f%% (%.2f%%)" % (results.mean()*100, results.std()*100))

Visible: 71.93% (13.84%)